body{
    font-family:"Poppins", sans-serif;
    text-align: center;
}
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    padding: 2% 0  0;
    margin-right: 0;
}
.row{
  padding: 0 2% 0 2%;
}

.container-fluid{
padding: 0 0 1% 0;
}
.navbar{
  padding: 0 0 2rem 0;
}
.navbar .navbar-nav .nav-item .nav-link{
    padding: 0px 18x;
    color: white;
    
  }
.navbar .navbar-brand{
    font-family: "Ubuntu";
    font-size: 1.5 rem;
    font-weight: 800;
    color: white;
    padding-left: 3%;
}

 .title-section{
  background: linear-gradient(to right,  #94bbe9,#b1ade7);
 }

  .color-section {
    background: linear-gradient(to right, #94bbe9,#b1ade7 );
    color:white;
    text-align: center;
    font-family: 'Montserrat', 'Sans Serif';
    font-weight: 400;
    padding: 3% 0 3% 0;
}

.white-section{
    background: white;
    text-align: center;
    font-family: 'Montserrat', 'Sans Serif';
    font-weight: 400;
    padding: 3% 0 3% 0;
}
.text-align-justify{
  text-align: justify;
  
}
/* Añade una animación a la descripción Acerca de mí*/
#about-me{
  animation-duration: 2s;
  animation-name: slidein;
}

.soft-list{
  list-style: none;
  text-align: center;
}
.profile{
    width: 210px;
    height: 200px;
    border-radius: 50px;    
}
.profile:hover{
    
}
.skills{
  width: 300px;
  height: 200px;
  border-radius: 50px;
}
/*Agrega estilo al boton volver arriba*/
.ir-arriba{
  display: none;
	padding:20px;
	background:#ffffff;
	font-size:20px;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
  border-radius: 20px;
}

/*Le da movimiento a la animacion en Acerca de mí empezando de izquierda a derecha*/
@keyframes slidein {
  from {
    margin-left: 50%;
    width: 150%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media screen and (max-width: 576px){
  .body{
      width: 100%;
      height: 100%;
      display: flex;
  }
  
}
